<section class="slice sct-color-2 border-top border-bottom">
        <div class="container">
            <div class="row align-items-center cols-xs-space cols-md-space cols-sm-space">
                <div class="col-lg-5">
                    <div class="text-center text-lg-left">
                        <h3 class="heading heading-2 strong-500">
                            About our company
                        </h3>
                        <footer class="blockquote-footer">
                            <cite title="Source Title">since 1991</cite>
                        </footer>
                        <p class="mt-4">
                            Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre, vide viderer eleifend ex mea.
                        </p>
                        <a href="#" class="btn btn-styled btn-base-4 mt-4">Read more</a>
                    </div>
                </div>

                <div class="col-lg-6 ml-lg-auto">
                    <div class="accordion accordion--style-1 accordion-cards--spaced" id="collapseTwo">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <a class="accordion-toggle heading-5 strong-500" data-toggle="collapse" data-parent="#collapseTwo" href="#collapseTwo-1">
                                        Web Design
                                        <span class="fa fa-chevron-right"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo-1" class="panel-collapse collapse">
                                <div class="card-body">
                                    <p>
                                        Nam ullamcorper imperdiet luctus. Vestibulum tincidunt malesuada mi, in posuere augue cursus nec. Morbi et vehicula risus, fermentum lacinia justo.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <a class="accordion-toggle heading-5 strong-500" data-toggle="collapse" data-parent="#collapseTwo" href="#collapseTwo-2">
                                        Software Development
                                        <span class="fa fa-chevron-right"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo-2" class="panel-collapse collapse">
                                <div class="card-body">
                                    <p>
                                        Nam ullamcorper imperdiet luctus. Vestibulum tincidunt malesuada mi, in posuere augue cursus nec. Morbi et vehicula risus, fermentum lacinia justo.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <a class="accordion-toggle heading-5 strong-500" data-toggle="collapse" data-parent="#collapseTwo" href="#collapseTwo-3">
                                        Search Engine Optimization
                                        <span class="fa fa-chevron-down"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo-3" class="panel-collapse collapse show">
                                <div class="card-body">
                                    <p>
                                        Etiam cursus pellentesque neque, eget ullamcorper augue eleifend a. In sit amet pulvinar purus. Ut in nibh tortor.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>