<section class="slice--offset parallax-section parallax-section-lg border-top border-bottom" style="background-image: url(<%= asset_path 'backgrounds/slider/img-49.jpg' %>);">
    <span class="mask mask-base-1--style-1"></span>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 text-center">
                <h1 class="heading heading-inverse heading-2 strong-500 text-normal">
                    Always look on the bright side of life.
                </h1>

                <span class="clearfix"></span>

                <div class="fluid-paragraph fluid-paragraph-sm mt-4 mb-4">
                    <p class="lead line-height-1_8 c-white">
                        Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.
                        Highly recommended for any kind on website.
                    </p>
                </div>

                <div class="btn-container mt-5">
                    <a href="#" class="btn btn-styled btn-white btn-circle">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>
