<section class="slice-sm bg-base-1">
        <div class="container sct-inner">
            <div class="row align-items-center cols-md-space cols-sm-space cols-xs-space">
                <div class="col-lg-9">
                    <div class="text-center text-md-left">
                        <h1 class="heading heading-inverse heading-4 text-normal strong-500">
                            Enhance shopping experience with our template. Start selling your products!
                        </h1>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="text-center text-lg-right">
                        <a href="#" class="btn btn-styled btn-lg btn-white btn-circle">
                            Start shopping
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>