<section class="slice-sm bg-base-1">
        <div class="container sct-inner">
            <div class="row align-items-center cols-md-space cols-sm-space cols-xs-space">
                <div class="col-lg-9">
                    <div class="text-center text-md-left">
                        <h1 class="heading heading-4 c-base-text-1 text-normal strong-500">
                            Boomerang <sup>3</sup> delivers content beyond the desktop. Make it yours!
                        </h1>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="text-center text-lg-right">
                        <a href="#" class="btn btn-styled btn-lg btn-white btn-circle btn-outline">
                            Purchase now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>