<section class="slice sct-color-1">
        <div class="container">
            <div class="row cols-xs-space cols-md-space cols-sm-space">
                <div class="col-lg-4">
                    <div class="icon-block icon-block--style-2-v1 text-center">
                        <div class="block-icon circle bg-base-1">
                            <i class="ion-tshirt-outline"></i>
                        </div>
                        <h2 class="heading heading-5 strong-500">Great design</h2>
                        <p class="px-4">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur pellentesque neque.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-block icon-block--style-2-v1 text-center">
                        <div class="block-icon circle bg-base-1">
                            <i class="ion-settings"></i>
                        </div>
                        <h2 class="heading heading-5 strong-500">Flexible code</h2>
                        <p class="px-4">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur pellentesque neque.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-block icon-block--style-2-v1 text-center">
                        <div class="block-icon circle bg-base-1">
                            <i class="ion-ios-chatboxes-outline"></i>
                        </div>
                        <h2 class="heading heading-5 strong-500">Support 24/7</h2>
                        <p class="px-4">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur pellentesque neque.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>