<section class="slice sct-color-2 border-top">
        <div class="container">
            <div class="section-title section-title--style-1 text-center">
                <h3 class="section-title-inner">
                    <span>Latest news</span>
                </h3>
                <span class="section-title-delimiter clearfix d-none"></span>
            </div>

            <span class="clearfix"></span>

            <div class="row cols-xs-space cols-sm-space mt-4">
                <div class="col-lg-4">
                    <div class="block block--style-3">
                        <div class="block-image relative">
                            <div class="view view-second">
                                                                                    <img src="<%= image_path('prv/news/creative/img-1.jpg') %>">
                                                                                <div class="mask mask-base-1--style-2">
                                    <div class="view-buttons">
                                        <div class="view-buttons-inner text-center">
                                            <a href="#" class="c-white" data-toggle="tooltip" data-original-title="Read this article" date-placement="top">
                                                <i class="icon ion-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-body">
                            <small><em>September 03, 2016</em></small>
                            <h3 class="heading heading-5 strong-500 mb-2">
                                <a href="#">Clamtown weekly news</a>
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="block block--style-3">
                        <div class="block-image relative">
                            <div class="view view-second">
                                                                                    <img src="<%= image_path('prv/news/creative/img-2.jpg') %>">
                                                                                <div class="mask mask-base-1--style-2">
                                    <div class="view-buttons text-center">
                                        <div class="view-buttons-inner text-center">
                                            <a href="#" class="c-white" data-toggle="tooltip" data-original-title="Read this article" date-placement="top">
                                                <i class="icon ion-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-body">
                            <small><em>September 03, 2018</em></small>
                            <h3 class="heading heading-5 strong-500">
                                <a href="#">Fall in love with Boomerang</a>
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="block block--style-3">
                        <div class="block-image relative">
                            <div class="view view-second">
                                                                                    <img src="<%= image_path('prv/news/creative/img-3.jpg') %>">
                                                                                <div class="mask mask-base-1--style-2">
                                    <div class="view-buttons text-center">
                                        <div class="view-buttons-inner text-center">
                                            <a href="#" class="c-white" data-toggle="tooltip" data-original-title="Read this article" date-placement="top">
                                                <i class="icon ion-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-body">
                            <small><em>September 03, 2018</em></small>
                            <h3 class="heading heading-5 strong-500">
                                <a href="#">Cracking the Boomerang code</a>
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>