<section class="slice sct-color-2 border-bottom">
        <div class="container">
            <div class="section-title section-title--style-1 text-center">
                <h3 class="section-title-inner">
                    <span>Our services</span>
                </h3>
                <span class="section-title-delimiter clearfix d-none"></span>
            </div>

            <span class="clearfix"></span>

            <div class="row cols-xs-space cols-md-space cols-sm-space">
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="feature feature--boxed-border feature--bg-1">
                        <div class="icon-block--style-1-v5">
                            <div class="block-icon c-gray-dark">
                                <i class="material-icons">weekend</i>
                            </div>
                            <div class="block-content">
                                <h3 class="heading heading-5 strong-500">Idea and Concept</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="feature feature--boxed-border feature--bg-1">
                        <div class="icon-block--style-1-v5">
                            <div class="block-icon c-gray-dark">
                                    <i class="material-icons">favorite</i>
                            </div>
                            <div class="block-content">
                                <h3 class="heading heading-5 strong-500">Design and Code</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="feature feature--boxed-border feature--bg-1">
                        <div class="icon-block--style-1-v5">
                            <div class="block-icon c-gray-dark">
                                <i class="material-icons">local_bar</i>
                            </div>
                            <div class="block-content">
                                <h3 class="heading heading-5 strong-500">Test and Launch</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>