<section class="swiper-js-container background-image-holder" data-holder-type="fullscreen" data-holder-offset="">
        <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="slide" data-swiper-items="1" data-swiper-space-between="0">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-swiper-autoplay="8000">
                    <div class="slice holder-item has-bg-cover bg-size-cover" style="background-image: url(<%= asset_path 'backgrounds/slider/img-50.jpg' %>); background-position: bottom bottom;">
                        <span class="mask mask-light--style-1"></span>
                        <div class="container d-flex align-items-center no-padding">
                            <div class="col">
                                <div class="row row-cols-xs-spaced align-items-center text-center text-md-left">
    
                                    <div class="col-12 col-md-7 col-lg-6">
                                        <h2 class="heading heading-5 strong-400 c-gray-light">
                                            The future is yet in your power.
                                        </h2>
                                        <h2 class="heading heading-1 strong-400">
                                            To imagine is
                                            <span id="type_1" class="type-this c-base-1" data-type-this="simple., beautiful., everything."></span>
                                        </h2>
    
                                        <p class="lead mt-4">
                                            We put all the experience and know-how in Boomerang so we can offer you the best product we have ever built.
                                        </p>
    
                                        <div class="btn-container">
                                            <a href="#" class="btn btn-styled btn-sm btn-base-4 btn-circle mt-4" data-scroll-to="#scrollToSection">Learn more</a>
                                            <a href="https://goo.gl/9BbH7R" target="_blank" class="btn btn-styled btn-sm btn-base-1 btn-circle mt-4">Purchase now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
