<section class="slice sct-color-1">
        <div class="container sct-inner">
            <div class="swiper-js-container">
                <div class="swiper-container" data-swiper-autoplay="true" data-swiper-items="1" data-swiper-space-between="0">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" data-swiper-autoplay="5000">
                            <div class="row cols-xs-space testimonial text-center text-sm-left justify-content-center">
                                <div class="col-md-2 col-sm-4 col-6">
                                    <img class="testimonial-image" src="<%= image_path('prv/people/person-1.jpg') %>">
                                </div>
                                <div class="col-md-7 col-sm-8 col-10">
                                    <div class="testimonial-content">
                                        <p class="lead line-height-1_8">
                                            “No words needed. This template gets the work done. So many features and great page layouts. As a developer I like a clean code. I can see their passion in every line of code. Great job!”
                                        </p>
                                        <h4 class="heading heading-4 strong-500 mt-4 mb-0">Bertram Ozzie</h4>
                                        <span class="text-sm strong-300">Web Designer — Webpixels</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide" data-swiper-autoplay="5000">
                            <div class="row cols-xs-space testimonial text-center text-sm-left justify-content-center">
                                <div class="col-md-2 col-sm-4 col-6">
                                    <img class="testimonial-image" src="<%= image_path('prv/people/person-2.jpg') %>">
                                </div>
                                <div class="col-md-7 col-sm-8 col-10">
                                    <div class="testimonial-content">
                                        <p class="lead line-height-1_8">
                                            “One word to describe this template: fresh! It comes with a variaty of features that are well thought and made my job so much easier.”
                                        </p>
                                        <h4 class="heading heading-4 strong-500 mt-4 mb-0">Cliff Simon</h4>
                                        <span class="text-sm strong-300">Web Designer — Webpixels</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Add Arrows -->
                    <div class="swiper-button--hover-only swiper-button-next"></div>
                    <div class="swiper-button--hover-only swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </section>